header {
	color: #903;
	font-size: 24px;
	padding: 15px;
}
div.body {
	    overflow: hidden;
}
div.contain {
	float: left;
    width: 74%;
    padding-left: 15px;
    padding-right: 15px;
}
aside {
	width: 22%;
    float: left;
    margin: auto;
}
article {
    width: 35%;
    background-color: rgba(239, 235, 235, 0.45);
 	border-radius: 3%;

    float: left;
    padding: 10px;
    /* padding-left: 89px; */
    margin-left: 67px;
    margin-top: 15px;
    height: 354px;
    /* margin: 10px; */
    display: block;

}
article a {
	font-size: 15px;
	line-height:1px;
}
section {
/*	border: 1px solid red;*/
	padding-top: 15px;
	overflow: hidden;
	margin: auto;
}
section.baiviet p {
	color: black;
}
section.baiviet {
	padding-left: 10px;
	color: black;
	border-top: 1px solid black;
}
address {
	text-align: right;
}
ul#ulTinMoi a{
	font-size: 13px;
    list-style-type: amharic;
    color: black;
}
div.tinmoi{
	padding-top: 15px;
}